[submodule "junit"]
	path = junit
	url = https://github.com/junit-team/junit.git
[submodule "junit-lambda"]
	path = junit-lambda
	url = https://github.com/junit-team/junit-lambda.git
[submodule "junit.contrib"]
	path = junit.contrib
	url = https://github.com/junit-team/junit.contrib.git
[submodule "mockito"]
	path = mockito
	url = https://github.com/mockito/mockito.git
[submodule "hamcrest-junit"]
	path = hamcrest-junit
	url = https://github.com/hamcrest/hamcrest-junit.git
[submodule "JavaHamcrest"]
	path = JavaHamcrest
	url = https://github.com/hamcrest/JavaHamcrest.git
[submodule "powermock"]
	path = powermock
	url = https://github.com/jayway/powermock.git
[submodule "JsonPath"]
	path = JsonPath
	url = https://github.com/jayway/JsonPath.git
[submodule "assertj-core"]
	path = assertj-core
	url = https://github.com/joel-costigliola/assertj-core.git
[submodule "assertj-joda-time"]
	path = assertj-joda-time
	url = https://github.com/joel-costigliola/assertj-joda-time.git
[submodule "assertj-guava"]
	path = assertj-guava
	url = https://github.com/joel-costigliola/assertj-guava.git
[submodule "JUnitParams"]
	path = JUnitParams
	url = https://github.com/Pragmatists/JUnitParams.git
[submodule "easytest-core"]
	path = easytest-core
	url = https://github.com/EaseTech/easytest-core.git
[submodule "easytest-spring"]
	path = easytest-spring
	url = https://github.com/EaseTech/easytest-spring.git
[submodule "easymock"]
	path = easymock
	url = https://github.com/easymock/easymock.git
[submodule "pitest"]
	path = pitest
	url = https://github.com/hcoles/pitest.git
[submodule "catch-exception"]
	path = catch-exception
	url = https://github.com/Codearte/catch-exception.git
[submodule "tempus-fugit"]
	path = tempus-fugit
	url = https://github.com/tobyweston/tempus-fugit.git
[submodule "cucumber-jvm"]
	path = cucumber-jvm
	url = https://github.com/cucumber/cucumber-jvm.git
[submodule "testng"]
	path = testng
	url = https://github.com/cbeust/testng.git
[submodule "_lang/groovy/spock"]
	path = _lang/groovy/spock
	url = https://github.com/spockframework/spock.git
[submodule "_lang/scala/specs2"]
	path = _lang/scala/specs2
	url = https://github.com/etorreborre/specs2.git
[submodule "_lang/scala/scalatest"]
	path = _lang/scala/scalatest
	url = https://github.com/scalatest/scalatest.git
[submodule "_lang/scala/scalacheck"]
	path = _lang/scala/scalacheck
	url = https://github.com/rickynils/scalacheck.git
